<h1 class="page-header">
    Выберите тест
</h1>
<ul class="list-group">
    <li class="list-group-item" ng-repeat="test in tests">
        <h3>{{ test.test.title }}</h3>
        <div><a class="btn btn-info" ng-click="toggleApply(test)">Подробнее</a> {{ test.test.time }}</div>
        <div class="panel panel-primary" ng-if="show[test.code]">
            <div class="panel-body">
                <markdown text="test.test.description"></markdown>
            </div>
            <div class="panel-footer"><a class="btn btn-primary" ng-click="apply(test)">Начать прохождение теста</a></div>
        </div>
    </li>
</ul>