<h1 class="page-header">{{ question.testName }}</h1>

<span class="pull-right alert" ng-class="{'alert-danger': secondsLeft <= 10, 'alert-warning': secondsLeft > 10}">Осталось: {{ secondsLeft }} секунд</span>
<h2>Вопрос #{{ question.questionData.index }}/{{ question.questionData.total}}</h2>
<markdown text="question.questionData.question"></markdown>

<h2>Варианты ответов:</h2>
<div class="alert alert-warning" ng-show="question.questionData.multiAnswer">Может быть несколько корректных ответов.</div>
<div class="list-group variants">
   <a class="list-group-item" ng-repeat="answer in question.questionData.answers" ng-click="selectAnswer(answer)"
      ng-class="{'list-group-item-success': isSelected(answer)}">
       <span class="pull-left">{{ $index + 1 }}.&nbsp;</span>
       <markdown text="answer.value"></markdown>
   </a>
</div>

<button class="btn btn-lg" ng-class="{'btn-primary': secondsLeft > 10, 'btn-danger': secondsLeft <= 10}" ng-click="answer()">Отправить ответ</button>