<h1 class="page-header">{{ question.testName }}</h1>

<h2>Вопрос #{{ question.index }}/{{ question.questionCount}}
    <span class="pull-right small">Осталось: {{ secondsLeft }} секунд</span>
</h2>
<markdown text="question.questionData.question"></markdown>
<div class="alert" ng-show="question.questionData.multiAnswer">Может быть несколько корректных ответов.</div>

<h2>Варианты ответов:</h2>
<div class="list-group">
   <a class="list-group-item" ng-repeat="answer in question.questionData.answers" ng-click="selectAnswer(answer)"
      ng-class="{'list-group-item-success': isSelected(answer)}">
       <h4 class="pull-left">{{ $index + 1 }}.&nbsp;</h4>
       <markdown text="answer.value"></markdown>
   </a>
</div>

<button class="btn btn-lg" ng-class="{'btn-primary': secondsLeft > 10, 'btn-danger': secondsLeft <= 10}">Отправить ответ</button>