.variants p {
    margin: 0
}

*[ng-click] {
    cursor: pointer
}

.top-buffer {
    margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.right-buffer-small {
    margin-right: 10px;
}

*[ng-cloak] {
    display: none;
}

.table.table-auto-width {
    width: auto;
}